* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    background-color: #fef7f7;
    font-family: "Open Sans", sans-serif;


}

.first {
    display: flex;
}

.first div {
    width: 20%;
    padding: 5px 0;
}

.one {
    background-color: #007f74;
}

.two {
    background-color: #fe5802;
}

.three {
    background-color: #025e69;
}

.four {
    background-color: #464f9e;
}

.five {
    background-color: #ec0101;
}

.site-nav {
    position: absolute;
    top: 0;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo {
    font-size: 24px;
    color: white;
    text-decoration: none;
}

.mainUl {
    display: flex;
    list-style-type: none;
}

.mainUl>li {
    position: relative;
}

.mainUl>li>a {
    font-size: 14px;
    padding: 10px 15px;
    display: inline-block;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
}

.mainUl>li>a:hover {
    color: white;
}

.drop {
    position: relative;
    padding-right: 20px;
}

.drop::before {
    content: '\f107';
    font-family: FontAwesome;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 10px;
    color: rgba(255, 255, 255, 0.7);
}

.dropDown {
    display: none;
    width: 175%;
    list-style-type: none;
    background-color: #fff;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 10px 0;
}

.mainUl>li:hover .dropDown {
    display: block;
}

.dropDown>li {
    position: relative;
}

.dropDown>li>a {
    padding: 5px 20px;
    font-size: 15px;
    color: black;
    font-weight: 300;
    display: block;
    text-decoration: none;
}

.dropDown>li>a:hover {
    color: tomato;
}

.secDrop::after {
    content: '\f105';
    font-size: 10px;
    font-family: FontAwesome;
    color: black;
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translateY(-50%);
}

.secDrop:hover::after {
    color: red;
}

.dropDownTwo {
    display: none;
    list-style-type: none;
    position: absolute;
    top: 0;
    left: 100%;
    background-color: #fff;
    width: 100%;
    padding: 10px 0;
}

.dropDown>li:hover .dropDownTwo {
    display: block;
}

.dropDownTwo>li>a {
    padding: 5px 20px;
    font-size: 15px;
    color: black;
    font-weight: 300;
    display: block;
    text-decoration: none;
}

.dropDownTwo>li>a:hover {
    color: red;
}

.bars {
    display: none;
}

.aside1 {
    width: 30%;
    height: 100%;
    background-color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 12321123;
    transform: translateX(100%);
    transition: all 0.4s ease-in-out;
}

.aside-container {
    width: 95%;
    margin: 0 auto;
}

.close {
    font-size: 30px;
    color: black;
    width: 40px;
    height: 40px;
    margin: 0 0 10px auto;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content .aside-mainUl {
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style-type: none;
}

.content .aside-mainUl>li {
    position: relative;
}

.content .aside-mainUl>li>a {
    text-decoration: none;
    padding: 2px 0;
    font-size: 14px;
    display: block;
    color: black;
    font-weight: 400;
    transition: all 0.2s ease-in;
}

.content .aside-mainUl>li>a:hover {
    color: red;
}

.asideDrop {
    position: relative;
}

.asideDrop i {
    position: absolute;
    top: 50%;
    right: 10%;
    font-size: 10px;
    transform: translateY(-50%);
}

.aside-dropDown {
    list-style-type: none;
    gap: 5px;
    height: 0;
    overflow: hidden;
}

.height {
    height: auto;
}

.aside-dropDown>li>a {
    font-size: 14px;
    padding: 2px 0;
    color: black;
    text-decoration: none;
    display: block;
    transition: all 0.2s ease-in;
}

.aside-dropDown>li>a:hover {
    color: red;
}

.secAsideDrop {
    position: relative;
}

.secAsideDrop i {
    position: absolute;
    top: 50%;
    right: 10%;
    font-size: 10px;
    transform: translateY(-50%);
}

.secDropDown {
    list-style-type: none;
    gap: 5px;
    height: 0;
    overflow: hidden;
    transition: all 0.4s ease-in-out;
}

.secDropDown>li>a {
    padding: 2px 0;
    display: block;
    font-size: 14px;
    color: black;
    text-decoration: none;
    transition: all 0.2s ease-in;
}

.secDropDown>li>a:hover {
    color: red;
}

.hero {
    width: 100%;
    height: 110vh;
    background-image: url(/imgs/hero_1.jpg.webp);
    background-size: cover;
    background-position: center center;
}

.overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-content h1 {
    font-size: 55px;
    font-weight: 600;
}

.hero-content p {
    font-size: 14px;
    color: rgba(206, 206, 206, 0.7);
}

.playVid {
    justify-content: center;
    align-items: center;
    color: white;
}

.playVid i {
    font-size: 70px;
    color: white;
    cursor: pointer;
}

.playVid h3 {
    font-size: 18px;
    margin-top: 5px;
}



@media screen and (max-width:786px) {
    .aside1 {
        width: 50%;
    }
}

@media screen and (max-width:576px) {
    .aside1 {
        width: 60%;
    }

}






/******************************************nada mohamed***********************/


/**************paragraph1*************/
.sec1 {
    font-size: 1.29rem;
    font-size: 300;
}

a {
    text-decoration: none;
    color: #ec0101;
}

a:hover {
    color: #bd0101;
}

/*************sidebare1/*****/
.input {
    background-color: #fff;
    padding: 25px;
    font-size: 15px;
    width: 100%;
}

.input input {
    border: none;
    outline: none;
    width: 305px;
    font-size: 16px;
    height: 70px;
    background-color: #f7f7f7;
    padding: 10px;
    padding-left: 27px;
}

.line {
    border-bottom: 2px solid #d30101;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;
    bottom: 13px;

}

/*******************sec2**************/
.side2 {
    margin-bottom: 30px;
    padding: 15px;
    font-size: 15px;
    background: #fff;

}

.title {

    margin: 20px;
    font-size: 18px;
}

.list li {
    list-style: none;
    margin: 20px;
}

.list li a {
    text-decoration: none;
}

.list li span {
    color: #ccc;
    position: absolute;
    right: 0;
    margin-right: 30px;
}

.about {
    margin-bottom: 30px;
    padding: 25px;
    font-size: 15px;
    width: 100%;

    background: #fff;
}

.about img {
    width: 150px;
    height: 150px;
    border-radius: 50%;

}

.about h3 {

    font-size: 18px;
    margin-top: 18px;
}

.about p {
    font-size: 16.5px;
    font-weight: lighter;
}

.about .btn {
    background-color: #ec0101;
    padding: 12px 30px;
    font-size: 12px;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

/********************basel**********************/

/* Comments Headline */
.comment h3 {
    font-size: 16px;
    line-height: 1.2;
    margin-left: 70px;
}

.profile .date {
    color: #ccc;
    font-size: 13px;
    letter-spacing: .1em;
}

/* Comments Section */
.comments {
    padding: 250px 0px;
}

.comment {
    margin: 20px 34% 20px 0px;
    margin-bottom: 100px;
}

.titles h3 {
    font-size: 25px;
    color: #bd0101;

}

.paragraph p {
    font-size: 15px;

}

img {
    margin-right: 20px;
}

.sidebar {
    background-color: white;
    width: 100%;
    padding: 10px;
}

.sidebar h3 {
    font-size: 18px;
    font-weight: lighter;
}


#reply1 {
    margin-left: 3%;
}

#reply2 {
    margin-left: 6%;
}

#reply3 {
    margin-left: 9%;
}

.date {
    margin-left: 8%;
}

.name {
    font-size: larger;
    font-weight: 700;
    color: white;
}

button {
    border: 0px;
    background-color: #ccc;
    padding: 7px;
    font-size: 14px;
}



/* Avatar */
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

/******************************ibrahim***************************/
.mb-5 {
    margin-bottom: 3rem;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
.logo {
    font-family: "Montserrat", sans-serif;
}

.h3 {
    font-size: 1.75rem;
}

.comment-form-wrap {
    clear: both;
}

.form-control {
    border: none;
    border-bottom: 2px solid #d30101;
    background-color: transparent;
    font-size: 16px;
    height: 45px;
    border-radius: 0;
}

.btn.btn-primary {
    background-color: #ec0101;
    color: #fff;
}

.btn {
    border: none;
    padding: 12px 30px;
    font-size: 12px;
    border-radius: 30px;
    text-transform: uppercase;
    letter-spacing: .1rem;
}

